<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
          Choose X-Ray Image and upload it
      </ion-col>
    </ion-row>
    <form [formGroup]="form" (submit)="onSaveImage()" class="list-form">
        <ion-row>
            <button mat-strocked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input style="display: none;" type="file" #filePicker (change)="onImagePicked($event)">
        </ion-row>
        <ion-row>
            <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
                <img [src]="imagePreview" width="200px" height="200px">
            </div><br>
        </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="full" size="small" color="primary">&nbsp;Submit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" size="small" color="light" (click)="closeModal()">Cancel</ion-button>
        </ion-col>
      </ion-row>
      <!--<ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="D MMM YYYY H:mm" min="2019-10-29" max="2019-10-29" value="2019-10-29T00:13Z"></ion-datetime>
      </ion-item>-->
    </form>
  </ion-grid>
 </ion-content>
